h1 Portfolio Site
.body 
  p I want this project to be more than just a portfolio site. I want this to be a reflection what I am capable of. Everything from the design to custom animations has been created by me on top of the Vue framework. This will be a project that I will constantly be working on and adding new features to in my free time so check back every so often to see what’s new!

  p As of now, the site is still fairly bare-bones but I would like to keep expanding on top of it including:
  ul
    li Blog
    li Small tools
    li Updates as I keep developing my skills so that this will be a true reflection of my work

  h5 Planned to support more features:
  p Vue CLI with Server-side Rendering served on a Express server
    ul
      li Vue.js
      ul
        li Vue Router
        li Vuex
        li Node.js Backend with MySQL database
