$color-background-primary: #1F1F1F;
$color-background-secondary: #484848;
$color-background-tertiary: #D0D0D0;
$color-background-primary-contrast: #FFF;

$font-family-headers: 'Play', san-serif;
$font-family-body: 'Montserrat', san-serif;
