$color-background-primary: rgba(0, 0, 0, .85);
$color-background-secondary: rgba(0, 0, 0, .35);
$color-background-primary-contrast: #fff;

$font-family-headers: 'Play', san-serif;
$font-family-body: 'Montserrat', san-serif;
