// Vue Fade
.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

$animation-duration-fast: 0.5s;
$animation-duration: 2s;

// CSS Animations
// Element Transitions
//  - fade-in
//  - fade-out
// Page Transitions
//  Translation
//    - left
//    - right
//  Directed Fade
//    - fade-up
//    - fade-down
//    - fade-left
//    - fade-right

// ELEMENT TRANSITIONS
.fade-in {
  -webkit-animation: fadeIn $animation-duration-fast ease both;
  animation: fadeIn $animation-duration-fast ease both;
}
.fade-out {
  -webkit-animation: fadeOut $animation-duration-fast ease both;
  animation: fadeOut $animation-duration-fast ease both;
}

@-webkit-keyframes fadeIn {
	from { opactiy: 0; }
	to { opacity: 1; }
}
@keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

// PAGE TRANSITIONS

// Translation
.left-in {
  -webkit-animation: leftIn $animation-duration ease both;
  animation: leftIn $animation-duration ease both;
}
.left-out {
  -webkit-animation: leftOut $animation-duration ease both;
  animation: leftOut $animation-duration ease both;
}

.right-in {
  -webkit-animation: rightIn $animation-duration ease both;
  animation: rightIn $animation-duration ease both;
}
.right-out {
  -webkit-animation: rightOut $animation-duration ease both;
  animation: rightOut $animation-duration ease both;
}

@-webkit-keyframes leftIn {
  from { -webkit-transform: translateX(100%); }
  to { }
}
@keyframes leftIn {
  from { -webkit-transform: translateX(100%); transform: translateX(100%); }
  to { }
}

@-webkit-keyframes leftOut {
  from { }
  to { -webkit-transform: translateX(-100%); }
}
@keyframes leftOut {
  from { }
  to { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

@-webkit-keyframes rightIn {
  from { -webkit-transform: translateX(-100%); }
  to { }
}
@keyframes rightIn {
  from { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
  to { }
}

@-webkit-keyframes rightOut {
  from { }
  to { -webkit-transform: translateX(100%); }
}
@keyframes rightOut {
  from { }
  to { -webkit-transform: translateX(100%); transform: translateX(100%); }
}

// Fade
.fade-up-in {
  -webkit-animation: fadeUpIn $animation-duration ease both;
  animation: fadeUpIn $animation-duration ease both;
}
.fade-up-out {
  -webkit-animation: fadeUpOut $animation-duration ease both;
  animation: fadeUpOut $animation-duration ease both;
}

.fade-down-in {
  -webkit-animation: fadeDownIn $animation-duration ease both;
  animation: fadeDownIn $animation-duration ease both;
}
.fade-down-out {
  -webkit-animation: fadeDownOut $animation-duration ease both;
  animation: fadeDownOut $animation-duration ease both;
}
.fade-left-in {
  -webkit-animation: fadeLeftIn $animation-duration ease both;
  animation: fadeLeftIn $animation-duration ease both;
}
.fade-left-out {
  -webkit-animation: fadeLeftOut $animation-duration ease both;
  animation: fadeLeftOut $animation-duration ease both;
}

.fade-right-in {
  -webkit-animation: fadeRightIn $animation-duration ease both;
  animation: fadeRightIn $animation-duration ease both;
}
.fade-right-out {
  -webkit-animation: fadeRightOut $animation-duration ease both;
  animation: fadeRightOut $animation-duration ease both;
}

@-webkit-keyframes fadeOut {
	from { opactiy: 0; }
	to { opacity: 1; }
}
@keyframes fadeOut {
	from { opacity: 0; }
	to { opacity: 1; }
}
@-webkit-keyframes fadeUpIn {
  from { opacity: 0; -webkit-transform: translateY(100%); }
  to { opacity: 1; }
}
@keyframes fadeUpIn {
  from { opacity: 0; -webkit-transform: translateY(100%); transform: translateY(100%); }
  to { opacity: 1; }
}

@-webkit-keyframes fadeUpOut {
  from { opacity: 1; }
  to { opacity: 0; -webkit-transform: translateY(-100%); }
}
@keyframes fadeUpOut {
  from { opacity: 1; }
  to { opacity: 0; -webkit-transform: translateY(-100%); transform: translateY(-100%); }
}

@-webkit-keyframes fadeDownIn {
  from { opacity: 0; -webkit-transform: translateY(-100%); }
  to { opacity: 1; }
}
@keyframes fadeDownIn {
  from { opacity: 0; -webkit-transform: translateY(-100%); transform: translateY(-100%); }
  to { opacity: 1; }
}

@-webkit-keyframes fadeDownOut {
  from { opacity: 1; }
  to { opacity: 0; -webkit-transform: translateY(100%); }
}
@keyframes fadeDownOut {
  from { opacity: 1; }
  to { opacity: 0; -webkit-transform: translateY(100%); transform: translateY(100%); }
}

@-webkit-keyframes fadeLeftIn {
  from { opacity: 0; -webkit-transform: translateX(100%); }
  to { opacity: 1; }
}
@keyframes fadeLeftIn {
  from { opacity: 0; -webkit-transform: translateX(100%); transform: translateX(100%); }
  to { opacity: 1; }
}

@-webkit-keyframes fadeLeftOut {
  from { opacity: 1; }
  to { opacity: 0; -webkit-transform: translateX(-100%); }
}
@keyframes fadeLeftOut {
  from { opacity: 1; }
  to { opacity: 0; -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

@-webkit-keyframes fadeRightIn {
  from { opacity: 0; -webkit-transform: translateX(-100%); }
  to { opacity: 1; }
}
@keyframes fadeRightIn {
  from { opacity: 0; -webkit-transform: translateX(-100%); transform: translateX(-100%); }
  to { opacity: 1; }
}

@-webkit-keyframes fadeRightOut {
  from { opacity: 1; }
  to { opacity: 0; -webkit-transform: translateX(100%); }
}
@keyframes fadeRightOut {
  from { opacity: 1; }
  to { opacity: 0; -webkit-transform: translateX(100%); transform: translateX(100%); }
}
