.button {
  font-family: 'Play', 'Avenir', Helvetica, Arial, sans-serif;
  display: inline-flex;
  // text-transform: uppercase;
  font-size: 14px;
  padding: 5px 10px;
  cursor: pointer;
  color: var(--secondary);
  border: 1px solid var(--secondary);
  user-select: none;
  &:hover {
    background-color: var(--background-alt);
    // background-color: #444444;
    // background-color: #808080;
  }
}
