#app, .light {
  --primary: #000000;
  --secondary: #6c6c6c;
  --background: #ffffff;
  --background-alt: #efefef;
}

.dark {
  --primary: #ffffff;
  --secondary: #efefef;
  --background: #000000;
  --background-alt: #6c6c6c;
}
