#app, .panel:nth-of-type(even) {
  --primary: #000000;
  --secondary: #6c6c6c;
  --background: #ffffff;
  --background-alt: #efefef;
}

.panel:nth-of-type(odd) {
  --primary: #ffffff;
  --secondary: #efefef;
  --background: #000000;
  --background-alt: #6c6c6c;
}
